[flake8]
max-line-length = 100
select =
    # Regular flake8 rules, plus flake8-comprehensions (C4), plus mccabe (C901), plus flake8-eradicate (E800)
    C, E, F, W
    # flake8-builtins
    A
    # flake8-bugbear rules, plus flake8-breakpoint (B6)
    B
    # flake8-isort, plus flake8-requirements (I9)
    I
    # pep8-naming rules
    N
    # flake8-pytest-style
    # TODO: re-enable this after rewriting the test suite
    #PT
    # flake8-annotations-complexity
    TAE
    # flake8-expression-complexity
    ECE
ignore =
    # E203: whitespace before ':' (replaced by Black)
    E203
    # E501: line too long (replaced by Black)
    E501
    # W503: line break before binary operator (not PEP8 compliant)
    W503
    # I900: not working properly? TODO: work out why
    I900

# mccabe
max-complexity = 10

# flake8-pytest-style
pytest-fixture-no-parentheses = true
pytest-parametrize-values-type = tuple
pytest-parametrize-values-row-type = tuple

# flake8-requirements
known-modules = isbinary
