/.venv/
/venv/

/.idea/

*.pyc
*.pyo

/htmlcov/
.coverage

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Coverage


# Profiling
binaryornot_profile

# Hypothesis
.hypothesis
