/.venv/
/venv/

/.idea/

*.pyc
*.pyo

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Coverage
htmlcov/

# Profiling
binaryornot_profile

# Hypothesis
.hypothesis
